 
 /*
 * {
  margin: 5;
  padding: 5;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  color: black;
  font-family: sans-serif;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: flex-end; 
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  justify-content: space-between; 
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0.5em;
  color: black;
}
 */







