:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #A5A58D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #7E7E63;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 150vh;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  color: black;
  font-family: sans-serif;
  padding: 1em;
  
}

nav {
  display: flex;
  justify-content: flex-end; 
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: space-between; 
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0.5em;
  color: black;
}

#upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 45px;
  background-color: #FFE8D6;
}

#text-container {
  flex: 1;
  text-align: center; 
  margin-right: 20%;
}

#text-container h1 {
  font-size: 40px;
  font-weight: 500;
}

#upper-container-img {
  width: 600px;
  height: 100%;
  padding-top: 8px;
  border-radius: 10%;
  padding-left: 10px;
}

#leaf {
  max-width: 100%;
  height: 40px
}

@media (max-width: 900px) {
  #upper-container {
    display: flex;
    padding-bottom: 80px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

 #upper-container-img {
  padding-top: 30px;
  border-radius: 0;
  width: 80%;
 }


  #leaf {
    display: none;
  }

  #text-container {
    display: none;
  }


  #middle-container {
    padding-top: 100px;
  }

  #flex-end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .feat-container-img {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  

}


#middle-container {
  display: center;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 30%;
  text-align: center;
}

#md-h1 {
  background-color: #fff;
  display: inline-block;
  color: #A5A58D;
  padding: 10px 30px;
}

#middle-container p {
  color: #fff;
  font-weight: 500;
}

#flex-end-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom:auto;
  height: auto;
}

#end-container {
  flex: 1; 
  text-align: center; 
  padding: 10px; 
  height: 100%;
}

.feat-container-img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}


.btn-primary {
margin-top: 30px;
color: #FFF;
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: #1a1a1a;
cursor: pointer;
transition: border-color 0.25s;
}

.btn-primary:hover {
    background-color: #FFE8D6;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FFE8D6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #FFE8D6;
  }
  button {
    background-color: #f9f9f9;
  }
}


