.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#rd-container {
  margin-top: -200px;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#rd-container h1 {
  font-size: 40px;
  background-color: #FFFFFF;
  color: #404337;
  padding: 15px 65px;
}




#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
}

#bottom-container p {
  font-size: 22px;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; 
}

.prod {
  width: 280px;
  height: 350px;
}

